<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/movies.css" th:href="@{/css/movies.css}"/>
</head>
<body>
<div>
    <div class="nav-bar">
        <a class="nav-item" href="/cinemas">Cinemas</a>
    </div>
    <h1>Welcome to the Movies Application!</h1>
    <p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>
</div>
</body>
</html>